
<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <% include ../static/partials/messages.ejs %>

    <main class="container">
      <br>
      <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
      <!-- <a href="/wikis/new" class="btn btn-success">New Wiki</a>
      <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post"> -->
        <button type="submit" class="btn btn-danger">Delete</button>
      <h1><%= wiki.title %></h1>
    </form>
      <% if(wiki.private == true) { %>
        <h5>- This wiki is Private -</h5>
      <% } %>
      <p><%= wiki.body %></p>
    </main>

  </body>
</html>
