<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <% include ./partials/head.ejs %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body>

      <!-- Navigation -->

      <nav>
        <% include ./partials/navbar.ejs %>
      </nav>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Blocipedia</h1>
          <p class="lead">A wiki application platform</p>
          <% include ./partials/messages.ejs %>

        </header>
        <body>
        <!-- Page Features -->
      <!--  <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Post</h4>
            <p class="card-text">Share your thoughts about subjects that are important to you.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Comment</h4>
            <p class="card-text">Your opinion counts! But you have to make yourself heard first!</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Stay Informed</h4>
            <p class="card-text">See the most active topics as well as trending subjects every day!</p>
          </section>

        </section>
        <!-- /.row -->

        <% if(currentUser) { %>
          <% if(currentUser.role == 0) { %>
              <a href="/users/<%=currentUser.id%>/upgrade" class="btn btn-primary btn-lg">Upgrade Account</a>
              <div>
                Become a Premium Member today to have member perks and access to private wikis
              </div>
          <% } %>

          <% if(currentUser.role == 1) { %>
              <a href= "/users/<%=currentUser.id%>/downgrade" class="btn btn-primary btn-lg">Downgrade Account</a>
            <% } %>

      <%  } else { %>
        <a href="/users/signup" class="btn btn-primary btn-lg">Sign up</a>
      <% } %>

      </body>
      </main>

      <script
        src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
