<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <h2>Downgrade</h2>
        <div>
          <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
            <button type="submit" class="btn btn-primary">Downgrade Account</button>
          </form>
        </div>

      </main>

   </body>
 </html>
